<?xml version="1.0"?>
<config>
    <modules>
        <Speedy_Speedyshipping>
            <version>2.1.3</version>
            <depends>
                <Mage_Payment />
                <Mage_Shipping />
                <Mage_Checkout />
            </depends>
        </Speedy_Speedyshipping>
    </modules>

    <global>  
        <helpers>
            <speedyshippingmodule>
                <class>Speedy_Speedyshipping_Helper</class>
            </speedyshippingmodule>
            <directory>
                <rewrite>
                    <data>Speedy_Speedyshipping_Helper_Validate_Validate</data>
                </rewrite>
            </directory>
        </helpers>  
        <models>
            <speedyshippingmodule>
                <class>Speedy_Speedyshipping_Model</class>
                <resourceModel>speedyshippingmodule_resource</resourceModel>
            </speedyshippingmodule>
            <speedyshippingmodule_resource>
                <class>Speedy_Speedyshipping_Model_Resource</class>
                <entities>
                    <saveorder>
                        <table>speedy_order_shipping</table>
                    </saveorder>
                    <tablerate>
                        <table>speedy_tablerate</table>
                    </tablerate>
                </entities>
            </speedyshippingmodule_resource>
            <sales>
                <rewrite>
                    <quote_address_rate>Speedy_Speedyshipping_Model_Sales_Quote_Address_Rate</quote_address_rate>
                </rewrite>
            </sales>
            <shipping>
                <rewrite>
                    <rate_result>Speedy_Speedyshipping_Model_Rate_Result</rate_result>
                </rewrite>
            </shipping>
        </models>

        <resources>
            <speedyshippingmodule_setup>

                <setup>
                    <module>Speedy_Speedyshipping</module>
                    <class>Speedy_Speedyshipping_Model_Resource_Setup</class>
                </setup>

                <connection>
                    <use>core_setup</use>
                </connection>

            </speedyshippingmodule_setup>
        </resources>
        <blocks>
            <speedyshippingmodule>
                <class>Speedy_Speedyshipping_Block</class>
            </speedyshippingmodule>
            <!--<adminhtml>
                <rewrite>
                    <sales_order_shipment_create_form>Speedy_SpeedyShipping_Block_Adminhtml_Sales_Order_Shipment_Create_Form</sales_order_shipment_create_form>
                  
                </rewrite>
            </adminhtml>-->
            <adminhtml>
                <rewrite>
                    <sales_order_create_billing_address>Speedy_Speedyshipping_Block_Adminhtml_Sales_Order_Create_Billing_Address</sales_order_create_billing_address>
                </rewrite>
            </adminhtml>
            <adminhtml>
                <rewrite>
                    <sales_order_create_totals>Speedy_Speedyshipping_Block_Adminhtml_Sales_Order_Create_Totals</sales_order_create_totals>
                </rewrite>
            </adminhtml>
            <adminhtml>
                <rewrite>
                    <sales_order_create_shipping_address>Speedy_Speedyshipping_Block_Adminhtml_Sales_Order_Create_Shipping_Address</sales_order_create_shipping_address>
                </rewrite>
            </adminhtml>
            <adminhtml>
                <rewrite>
                    <sales_order_create_shipping_method_form>Speedy_Speedyshipping_Block_Adminhtml_Sales_Order_Create_Shipping_Form</sales_order_create_shipping_method_form>
                </rewrite>
            </adminhtml>
            <!--<adminhtml>
                <rewrite>
                    <sales_order_create_form_address>Speedy_Speedyshipping_Block_Adminhtml_Sales_Order_Create_Form_Address</sales_order_create_form_address>
                </rewrite>
            </adminhtml>-->

            <customer>
                <rewrite>
                    <address_edit>Speedy_Speedyshipping_Block_Customer_Address_Edit</address_edit>
                </rewrite>
            </customer>
            <checkout>
                <rewrite>
                    <onepage_billing>Speedy_Speedyshipping_Block_Onepage_Billing_Billing</onepage_billing>
                </rewrite>
            </checkout>
            <checkout>
                <rewrite>
                    <onepage_shipping>Speedy_Speedyshipping_Block_Onepage_Shipping_Shipping</onepage_shipping>
                </rewrite>
            </checkout>
            <checkout>
                <rewrite>
                    <onepage_shipping_method_available>Speedy_Speedyshipping_Block_Onepage_Shipping_Method_Available</onepage_shipping_method_available>
                </rewrite>
            </checkout>
            <payment>
                <rewrite>
                    <form_cashondelivery>Speedy_Speedyshipping_Block_Onepage_Paymentinfo</form_cashondelivery>
                </rewrite>
            </payment>
            
        </blocks>
        <events>

            <controller_action_predispatch>
			<observers>
				<speedyshippingmodule>
					<type>model</type>
                        <class>speedyshippingmodule/observer</class>
					<method>actionPredispatchHook</method>
				</speedyshippingmodule>
			</observers>
		</controller_action_predispatch>
                <adminhtml_customer_prepare_save>
			<observers>
				<speedyshippingmodule>
					<type>model</type>
                        <class>speedyshippingmodule/observer</class>
					<method>customerAdminSaveBefore</method>
				</speedyshippingmodule>
			</observers>
		</adminhtml_customer_prepare_save>
            
            
            <sales_order_save_before>
                <observers>
                    <speedyshippingmodule>
                        <type>model</type>
                        <class>speedyshippingmodule/observer</class>
                        <method>checkAddress</method>
                    </speedyshippingmodule>
                </observers>
            </sales_order_save_before>
            <sales_quote_save_before>
                <observers>
                    <speedyshippingmodule>
                        <type>model</type>
                        <class>speedyshippingmodule/observer</class>
                        <method>checkQuoteAddress</method>
                    </speedyshippingmodule>
                </observers>
            </sales_quote_save_before>
                
           <core_block_abstract_to_html_before>
               <observers>
                    <speedyshippingmodule>
                        <type>model</type>
                        <class>speedyshippingmodule/observer</class>
                        <method>augmentBlockOutput</method>
                    </speedyshippingmodule>
                </observers>
           </core_block_abstract_to_html_before>
           
           
           <sales_order_shipment_track_delete_after>
               <observers>
                    <speedyshippingmodule>
                        <type>model</type>
                        <class>speedyshippingmodule/observer</class>
                        <method>removeBol</method>
                    </speedyshippingmodule>
                </observers>
           </sales_order_shipment_track_delete_after>
            
            <checkout_type_onepage_save_order_after>
                <observers>
                    <speedyshippingmodule>
                        <type>model</type>
                        <class>speedyshippingmodule/observer</class>
                        <method>saveOrderAfter</method>
                    </speedyshippingmodule>
                </observers>
            </checkout_type_onepage_save_order_after>
            <adminhtml_sales_order_create_process_data>
                <observers>
                    <speedyshippingmodule>
                        <type>model</type>
                        <class>speedyshippingmodule/observer</class>
                        <method>saveOrderAdmin</method>
                    </speedyshippingmodule>
                </observers>
            </adminhtml_sales_order_create_process_data>
            <adminhtml_block_html_before>
                <observers>
                    <speedyshippingmodule>
                        <type>model</type>
                        <class>speedyshippingmodule/observer</class>
                        <method>changeWidgetTemplate</method>
                    </speedyshippingmodule>
                </observers>
            </adminhtml_block_html_before>
            <checkout_submit_all_after>
                <observers>
                    <speedyshippingmodule>
                        <type>model</type>
                        <class>speedyshippingmodule/observer</class>
                        <method>saveOrderAdminCheckout</method>
                    </speedyshippingmodule>
                </observers>
            </checkout_submit_all_after>
            <payment_method_is_active>
                <observers>
                    <speedyshippingmodule>
                        <class>speedyshippingmodule/observer</class>
                        <method>restrictPaymentsCd</method>
                    </speedyshippingmodule>
                </observers>
            </payment_method_is_active>
            <sales_quote_collect_totals_after>
                <observers>
                    <speedyshippingmodule>
                        <class>speedyshippingmodule/observer</class>
                        <method>collectTotals</method>
                    </speedyshippingmodule>
                </observers>
            </sales_quote_collect_totals_after>
        </events>
        <!--<routers>
            <adminhtml>
                <rewrite>
                    <sales_shipment>
                        <from><![CDATA[#^/admin/sales_shipment/$#]]></from>
                        <to>/admin/sales_shipment/</to>
                    </sales_shipment>
                </rewrite>
            </adminhtml>
            
        </routers>-->
        <fieldsets>
            <sales_convert_quote_address>
                <speedy_site_id>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </speedy_site_id>
                <speedy_office_id>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </speedy_office_id>
                <speedy_office_chooser>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </speedy_office_chooser>
                <speedy_quarter_id>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </speedy_quarter_id>
                <speedy_street_id>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </speedy_street_id>
                <speedy_state_id>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </speedy_state_id>
                <speedy_country_id>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </speedy_country_id>
                <speedy_block_number>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </speedy_block_number>
                <speedy_street_number>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </speedy_street_number>
                <speedy_quarter_name>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </speedy_quarter_name>
                <speedy_street_name>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </speedy_street_name>
                <speedy_entrance>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </speedy_entrance>
                <speedy_floor>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </speedy_floor>
                <speedy_apartment>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </speedy_apartment>
                <speedy_address_note>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </speedy_address_note>
            </sales_convert_quote_address>
            <customer_address>
                <speedy_site_id>
                    <to_quote_address>*</to_quote_address>
                </speedy_site_id>
                <speedy_office_id>
                    <to_quote_address>*</to_quote_address>
                </speedy_office_id>
                <speedy_office_chooser>
                    <to_quote_address>*</to_quote_address>
                </speedy_office_chooser>
                <speedy_quarter_id>
                    <to_quote_address>*</to_quote_address>
                </speedy_quarter_id>
                <speedy_street_id>
                    <to_quote_address>*</to_quote_address>
                </speedy_street_id>
                <speedy_state_id>
                    <to_quote_address>*</to_quote_address>
                </speedy_state_id>
                <speedy_country_id>
                    <to_quote_address>*</to_quote_address>
                </speedy_country_id>
                <speedy_block_number>
                    <to_quote_address>*</to_quote_address>
                </speedy_block_number>
                <speedy_street_number>
                    <to_quote_address>*</to_quote_address>
                </speedy_street_number>
                <speedy_quarter_name>
                    <to_quote_address>*</to_quote_address>
                </speedy_quarter_name>
                <speedy_street_name>
                    <to_quote_address>*</to_quote_address>
                </speedy_street_name>
                <speedy_entrance>
                    <to_quote_address>*</to_quote_address>
                </speedy_entrance>
                <speedy_floor>
                    <to_quote_address>*</to_quote_address>
                </speedy_floor>
                <speedy_apartment>
                    <to_quote_address>*</to_quote_address>
                </speedy_apartment>
                <speedy_address_note>
                    <to_quote_address>*</to_quote_address>
                </speedy_address_note>
            </customer_address>
            <sales_copy_order_shipping_address>
                <speedy_site_id>
                    <to_order>*</to_order>
                </speedy_site_id>
                <speedy_office_id>
                    <to_order>*</to_order>
                </speedy_office_id>
                <speedy_office_chooser>
                    <to_order>*</to_order>
                </speedy_office_chooser>
                <speedy_quarter_id>
                    <to_order>*</to_order>
                </speedy_quarter_id>
                <speedy_street_id>
                    <to_order>*</to_order>
                </speedy_street_id>
                <speedy_state_id>
                    <to_order>*</to_order>
                </speedy_state_id>
                <speedy_country_id>
                    <to_order>*</to_order>
                </speedy_country_id>
                <speedy_block_number>
                    <to_order>*</to_order>
                </speedy_block_number>
                <speedy_street_number>
                    <to_order>*</to_order>
                </speedy_street_number>
                <speedy_quarter_name>
                    <to_order>*</to_order>
                </speedy_quarter_name>
                <speedy_street_name>
                    <to_order>*</to_order>
                </speedy_street_name>
                <speedy_entrance>
                    <to_order>*</to_order>
                </speedy_entrance>
                <speedy_floor>
                    <to_order>*</to_order>
                </speedy_floor>
                <speedy_apartment>
                    <to_order>*</to_order>
                </speedy_apartment>
                <speedy_address_note>
                    <to_order>*</to_order>
                </speedy_address_note>
            </sales_copy_order_shipping_address>
            <sales_copy_order_billing_address>
                <speedy_site_id>
                    <to_order>*</to_order>
                </speedy_site_id>
                <speedy_office_id>
                    <to_order>*</to_order>
                </speedy_office_id>
                <speedy_office_chooser>
                    <to_order>*</to_order>
                </speedy_office_chooser>
                <speedy_quarter_id>
                    <to_order>*</to_order>
                </speedy_quarter_id>
                <speedy_street_id>
                    <to_order>*</to_order>
                </speedy_street_id>
                <speedy_state_id>
                    <to_order>*</to_order>
                </speedy_state_id>
                <speedy_country_id>
                    <to_order>*</to_order>
                </speedy_country_id>
                <speedy_block_number>
                    <to_order>*</to_order>
                </speedy_block_number>
                <speedy_street_number>
                    <to_order>*</to_order>
                </speedy_street_number>
                <speedy_quarter_name>
                    <to_order>*</to_order>
                </speedy_quarter_name>
                <speedy_street_name>
                    <to_order>*</to_order>
                </speedy_street_name>
                <speedy_entrance>
                    <to_order>*</to_order>
                </speedy_entrance>
                <speedy_floor>
                    <to_order>*</to_order>
                </speedy_floor>
                <speedy_apartment>
                    <to_order>*</to_order>
                </speedy_apartment>
                <speedy_address_note>
                    <to_order>*</to_order>
                </speedy_address_note>
            </sales_copy_order_billing_address>
        </fieldsets>
    </global>
    <default>

        <carriers>
            <speedyshippingmodule>
                <showmethod>1</showmethod>
                <active>1</active>
                <add_jquery>1</add_jquery>
                <add_jquery_ui>1</add_jquery_ui>
                <sallowspecific>1</sallowspecific>
                <model>speedyshippingmodule/carrier_shippingmethod</model>
                <name>Speedy Shipping</name>
                <title>Speedy Shipping</title>
                <server>https://www.speedy.bg/eps/main01.wsdl</server>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
                <price>0</price>
                <istest>1</istest>
            </speedyshippingmodule>
        </carriers>
    </default>
    <frontend>
        <routers>
            <speedyshippingmodule>
                <use>standard</use>
                <args>
                    <module>Speedy_Speedyshipping</module>
                    <frontName>speedyshippingfront</frontName>
                </args>
            </speedyshippingmodule>
            <customer> 
                <args>
                    <modules>
                        <Speedy_Speedyshipping before="Mage_Customer">Speedy_Speedyshipping_Customer</Speedy_Speedyshipping>
                    </modules>
                </args>
            </customer>
            <checkout> 
                <args>
                    <modules>
                        <Speedy_Speedyshipping before="Mage_Checkout">Speedy_Speedyshipping_Checkout</Speedy_Speedyshipping>
                    </modules>
                </args>
            </checkout>
        </routers>
        <translate>
            <modules>
                <Speedy_Speedyshipping>
                    <files>
                        <default>speedyTranslate.csv</default>
                    </files>
                </Speedy_Speedyshipping>
            </modules>
        </translate>
        <layout>
            <updates>
                <speedy_speedyshipping>
                    <file>speedy_shipping.xml</file>
                </speedy_speedyshipping>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <speedyshippingmodule>
                    <file>speedy_shipping.xml</file>
                </speedyshippingmodule>
            </updates>
        </layout>

        <translate>
            <modules>
                <Speedy_speedyshipping>
                    <files>
                        <default>speedyTranslate.csv</default>
                    </files>
                </Speedy_speedyshipping>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <!--<adminhtml>
                <args>
                    <modules>
                        <Speedy_Speedyshipping before="Mage_Adminhtml">Speedy_Speedyshipping</Speedy_Speedyshipping>
                    </modules>
                </args>
            </adminhtml>-->
            <speedyshipping_admin>
                <use>admin</use>
                <args>
                    <module>Speedy_Speedyshipping_Adminhtml</module>
                    <frontName>speedyshipping</frontName>
                </args>
            </speedyshipping_admin>
        </routers>
    </admin>
</config>
